<div class="col-md-9 programmer-info">

  <%= render partial "attribute", :locals => {attribute: @programmer.home_country, attribute_name: 'Home Country'} %>



  <p>
  <strong>Quote:</strong> <%= @programmer.quote %><br>
  </p>

  <p>
  <strong>Claim To Fame:</strong> <%= @programmer.claim_to_fame %>
  </p>

  <p>
  <%= link_to "Learn more about #{@programmer.name}", @programmer.wikipedia_page, target: '_blank' %>
  </p>

</div>
